.input-group {
	width: 100%;
}
.input-group.md-form.form-sm.search input,
select {
	border: 1px solid #bdbdbd;
	border-radius: 0.3rem;
	font-size: 16px;
}
.input-group.md-form.form-sm.search input[type=text]:focus:not([readonly]).purple-border,
select:active {
	border: 1px solid #332e73;
	box-shadow: none;
}

.form-control {
	height: 2rem !important;
}
