.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #332e73;
	border-color: #332e73;
}

.page-link {
	position: relative;
	display: block;
	padding: .1rem .5rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #332e73;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
